<div class="container">
  <div class="col s12 m100">
    <div class="card-panel white">
      <div class="card-cabecalho">
        <span class="card-cabecalho-texto">{{
          this.listaCompras.listaComprasDescricao
        }}</span>
        <i class="material-icons right">edit</i>
      </div>

      <div class="row s2" id="card-corpo">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input
                name="input-donation"
                type="text"
                [(ngModel)]="this.listaCompras.listaComprasDescricao"
                (keydown.enter)="this.onEnterKey()"
              />
              <label class="active" for="input-donation"
                >Descricão da Lista</label
              >
            </div>
          </div>

          <table>
            <thead>
              <tr>
                <th data-field="td-date"></th>
                <th data-field="td-type">Descricao</th>
                <th style="text-align: center;" data-field="td-value">Quantidade</th>
                <th data-field="td-value"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let t of this.listaCompras.listaComprasProdutos">
                <td>
                  <p>
                    <label>
                      <input type="checkbox" [checked]="t.concluido" (click)="this.onCkeckBoxClick(t.produto)" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>{{ t.produto.descricao | uppercase }}</td>
                <td style="text-align: center;">{{ t.quantidade |  number: '1.3-8' }}</td>
                <td><i class="material-icons">delete</i></td>
              </tr>
            </tbody>
          </table>

          <button
            style="margin-left: 10px"
            class="btn waves-effect #3949ab indigo"
            type="button"
            (click)="this.onButtonClick()"
          >
            Salvar
            <i class="material-icons right">check</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
