<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper #3949ab indigo">

      <div class="container">

        <a class="brand-logo" [routerLink]="['/']">
          <img class="my-logo" src="assets/resources/images/logo-marca-3.png" />
        </a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['/']">Inicio<i class="material-icons left">home</i></a>
          </li>
          <li>
            <a [routerLink]="['/lista-compras']">Nova Lista<i class="material-icons left">add_to_photos</i></a>
          </li>
          <li>
            <a [routerLink]="['/cadastro-produtos']">Cadastrar Produto<i class="material-icons left">add_box</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo" #mobile>
    <div class="row #3949ab indigo">
      <div class="col s8 offset-s2">
        <div class="center">
          <img class="responsive-img" src="assets/resources/images/logo-marca-3.png" />
        </div>
      </div>
    </div>
    <li>
      <a [routerLink]="['/']">Inicio<i class="material-icons left">home</i></a>
    </li>
    <li>
      <a [routerLink]="['/lista-compras']">Nova Lista<i class="material-icons left">add_to_photos</i></a>
    </li>
    <li>
      <a routerLink="/cadastro-produtos">Cadastrar Produto<i class="material-icons left">add_box</i></a>
    </li>
  </ul>
</div>
