#nova-lista:hover {
  
  #nova-lista-texto{
    color: #ffab40 !important;
  }

}

.card-info a {
  display: inline-flex;
  vertical-align: middle;
  line-height: 2;
  font-size: 1rem;
}

.card .card-content .card-title {
  line-height: 34px;
}

h4{
  color: #546e7a
}